In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
import seaborn as sns
from giant_bike_ds import GiantBikeDS
import matplotlib.pyplot as plt
from ipywidgets import IntProgress

In [12]:
ds_dir = 'data/bike-share-data'
weather_ds_path = 'data/weather.csv'
output_file_path =  'data/capital-bike-share-2010-2023-reduced.csv'
weather_file_path =  'data/capital-bike-share-2010-2023-grouped.csv'
bike_number_file_path =  'data/capital-bike-share-2010-2023-bike-numbers.csv'

In [21]:
bds = GiantBikeDS(ds_dir, weather_ds_path, output_file_path, do_profile=False)

# bds.init_output_csv()

file_cnt = len(bds.files)
n = 1
for fl in bds.files:
    print(f"{n}/{file_cnt}: ",fl)
    bds.add_bike_share_ds(fl, show_progress=False)
    n += 1
# bds.close_output_csv()
bds.save_weather_csv(weather_file_path)
bds.save_bike_number_csv(bike_number_file_path)

display(bds.ex_times)

1/88:  2010-capitalbikeshare-tripdata.csv
2/88:  2011-capitalbikeshare-tripdata.csv
3/88:  2012Q1-capitalbikeshare-tripdata.csv
4/88:  2012Q2-capitalbikeshare-tripdata.csv
5/88:  2012Q3-capitalbikeshare-tripdata.csv
6/88:  2012Q4-capitalbikeshare-tripdata.csv
7/88:  2013Q1-capitalbikeshare-tripdata.csv
8/88:  2013Q2-capitalbikeshare-tripdata.csv
9/88:  2013Q3-capitalbikeshare-tripdata.csv
10/88:  2013Q4-capitalbikeshare-tripdata.csv
11/88:  2014Q1-capitalbikeshare-tripdata.csv
12/88:  2014Q2-capitalbikeshare-tripdata.csv
13/88:  2014Q3-capitalbikeshare-tripdata.csv
14/88:  2014Q4-capitalbikeshare-tripdata.csv
15/88:  2015Q1-capitalbikeshare-tripdata.csv
16/88:  2015Q2-capitalbikeshare-tripdata.csv
17/88:  2015Q3-capitalbikeshare-tripdata.csv
18/88:  2015Q4-capitalbikeshare-tripdata.csv
19/88:  2016Q1-capitalbikeshare-tripdata.csv
20/88:  2016Q2-capitalbikeshare-tripdata.csv
21/88:  2016Q3-capitalbikeshare-tripdata.csv
22/88:  2016Q4-capitalbikeshare-tripdata.csv
23/88:  2017Q1-capitalbikeshare-tripdata.csv
24/88:  2017Q2-capitalbikeshare-tripdata.csv
25/88:  2017Q3-capitalbikeshare-tripdata.csv
26/88:  2017Q4-capitalbikeshare-tripdata.csv
27/88:  201801_capitalbikeshare_tripdata.csv
28/88:  201802-capitalbikeshare-tripdata.csv
29/88:  201803-capitalbikeshare-tripdata.csv
30/88:  201804-capitalbikeshare-tripdata.csv
31/88:  201805-capitalbikeshare-tripdata.csv
32/88:  201806-capitalbikeshare-tripdata.csv
33/88:  201807-capitalbikeshare-tripdata.csv
34/88:  201808-capitalbikeshare-tripdata.csv
35/88:  201809-capitalbikeshare-tripdata.csv
36/88:  201810-capitalbikeshare-tripdata.csv
37/88:  201811-capitalbikeshare-tripdata.csv
38/88:  201812-capitalbikeshare-tripdata.csv
39/88:  201901-capitalbikeshare-tripdata.csv
40/88:  201902-capitalbikeshare-tripdata.csv
41/88:  201903-capitalbikeshare-tripdata.csv
42/88:  201904-capitalbikeshare-tripdata.csv
43/88:  201905-capitalbikeshare-tripdata.csv
44/88:  201906-capitalbikeshare-tripdata.csv
45/88:  201907-capitalbikeshare-tripdata.csv
46/88:  201908-capitalbikeshare-tripdata.csv
47/88:  201909-capitalbikeshare-tripdata.csv
48/88:  201910-capitalbikeshare-tripdata.csv
49/88:  201911-capitalbikeshare-tripdata.csv
50/88:  201912-capitalbikeshare-tripdata.csv
51/88:  202001-capitalbikeshare-tripdata.csv
52/88:  202002-capitalbikeshare-tripdata.csv
53/88:  202003-capitalbikeshare-tripdata.csv
54/88:  202004-capitalbikeshare-tripdata.csv
55/88:  202005-capitalbikeshare-tripdata.csv
56/88:  202006-capitalbikeshare-tripdata.csv
57/88:  202007-capitalbikeshare-tripdata.csv
58/88:  202008-capitalbikeshare-tripdata.csv
59/88:  202009-capitalbikeshare-tripdata.csv
60/88:  202010-capitalbikeshare-tripdata.csv
61/88:  202011-capitalbikeshare-tripdata.csv
62/88:  202012-capitalbikeshare-tripdata.csv
63/88:  202101-capitalbikeshare-tripdata.csv
64/88:  202102-capitalbikeshare-tripdata.csv
65/88:  202103-capitalbikeshare-tripdata.csv
66/88:  202104-capitalbikeshare-tripdata.csv
67/88:  202105-capitalbikeshare-tripdata.csv
68/88:  202106-capitalbikeshare-tripdata.csv
69/88:  202107-capitalbikeshare-tripdata.csv
70/88:  202108-capitalbikeshare-tripdata.csv
71/88:  202109-capitalbikeshare-tripdata.csv
72/88:  202110-capitalbikeshare-tripdata.csv
73/88:  202111-capitalbikeshare-tripdata.csv
74/88:  202112-capitalbikeshare-tripdata.csv
75/88:  202201-capitalbikeshare-tripdata.csv
76/88:  202202-capitalbikeshare-tripdata.csv
77/88:  202203-capitalbikeshare-tripdata.csv
78/88:  202204-capitalbikeshare-tripdata.csv
79/88:  202205-capitalbikeshare-tripdata.csv
80/88:  202206-capitalbikeshare-tripdata.csv
81/88:  202207-capitalbikeshare-tripdata.csv
82/88:  202208-capitalbikeshare-tripdata.csv
83/88:  202209-capitalbikeshare-tripdata.csv
84/88:  202210-capitalbikeshare-tripdata.csv
85/88:  202211-capitalbikeshare-tripdata.csv
86/88:  202212-capitalbikeshare-tripdata.csv
87/88:  202301-capitalbikeshare-tripdata.csv
88/88:  202302-captialbikeshare-tripdata.csv

,time,temp,humidity,atemp,pressure,precipitation,rain,snowfall,wmo_code,wmo_description,...,weekday,month,year,season,total_trips,casual_trips,member_trips,total_trip_duration,total_member_trip_duration,total_casual_trip_duration
2010-09-20 00,2010-09-20 00:00:00,11.9,72.0,8.9,1010.6,0.0,0.0,0.0,2.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 01,2010-09-20 01:00:00,12.0,77.0,9.3,1010.7,0.0,0.0,0.0,2.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 02,2010-09-20 02:00:00,13.4,72.0,10.7,1011.1,0.0,0.0,0.0,2.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 03,2010-09-20 03:00:00,14.8,68.0,12.1,1011.0,0.0,0.0,0.0,3.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 04,2010-09-20 04:00:00,15.8,65.0,13.1,1010.9,0.0,0.0,0.0,3.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 05,2010-09-20 05:00:00,16.6,63.0,13.8,1010.8,0.0,0.0,0.0,3.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 06,2010-09-20 06:00:00,16.7,62.0,14.0,1010.3,0.0,0.0,0.0,3.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 07,2010-09-20 07:00:00,16.9,62.0,14.1,1010.2,0.0,0.0,0.0,3.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 08,2010-09-20 08:00:00,16.9,63.0,14.3,1009.8,0.0,0.0,0.0,2.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0
2010-09-20 09,2010-09-20 09:00:00,16.9,63.0,14.5,1009.4,0.0,0.0,0.0,1.0,dry,...,Monday,9,2010,4,0,0,0,0,0,0

,number,type,total_trip_count,casual_trip_count,member_trip_count,total_duration,first_trip_date,last_trip_date
W00824,W00824,,4892,1047,3845,5186176,2010-09-20 18:15:58,2020-03-04 12:36:25
W00772,W00772,,9036,1930,7106,10113917,2010-09-20 21:45:02,2020-03-28 16:40:42
W00886,W00886,,8754,1816,6938,9974503,2010-09-21 12:09:15,2020-03-29 19:13:48
W00777,W00777,,9138,1917,7221,9851299,2010-09-21 17:46:26,2020-03-30 18:13:44
W00289,W00289,,7795,1570,6225,8261128,2010-09-21 20:57:07,2020-03-27 16:56:17
W00491,W00491,,7301,1406,5895,7437214,2010-09-22 09:12:54,2019-11-26 12:15:26
W00492,W00492,,6977,1380,5597,7758239,2010-09-22 14:28:56,2020-03-13 09:02:36
W00943,W00943,,5526,959,4567,5838005,2010-09-22 18:23:05,2020-03-29 12:46:13
W00577,W00577,,8125,1601,6524,8719736,2010-09-22 22:35:52,2020-03-31 06:16:43
W01070,W01070,,8545,1744,6801,9338825,2010-09-23 11:40:32,2020-03-22 11:13:37

{'process_line': 0,
 'print_line': 0,
 'process_ride': 0,
 'process_additional': 0,
 'process_weather': 0}